// @include respond(tab-port) {
//   margin-top: 0rem;
//   letter-spacing: 4rem;
//   font-size: 6rem;
// }

// @include respond(phone) {
//   margin-top: 18rem;
//   letter-spacing: 1rem;
//   font-size: 5rem;
// }

body {
  font-family: 'Afacad', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $text-color;
}

.heading-titre {
  font-size: 8rem;
  font-weight: 800;
}

.heading-section {
  font-size: 5.5rem;
  font-weight: 800;
}

.heading-infos {
  font-size: 4rem;
  font-weight: 600;
}

.heading-sous-titre {
  font-size: 3.2rem;
  font-weight: 600;
}

.heading-menu-contenu,
.footer-text {
  font-size: 2.4rem;
  font-weight: 400;
}

.heading-menu-select {
  font-size: 2.4rem;
  font-weight: 800;
}
