@charset "UTF-8";
/*
0 - 600px     : Mobile
600 - 900px   : Tablet portrait
900 - 1200px  : Tablet Landscape
1200 - 1800px : Desktop (normal style)
1800px +      : Large Desktop
*/
/* 
$breakpoints pour les différents appareils
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  padding: 0rem;
  /* n'est pas inhérited */ }

.btn {
  display: flex;
  border-radius: 50%;
  border: solid black 1px;
  border-radius: 2rem;
  transition: all 0.2s; }
  .btn:hover {
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(-1px); }

.tag {
  font-size: 2.4rem;
  color: black;
  opacity: 0.8; }

.active {
  font-weight: 800; }

body {
  font-family: 'Afacad', serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: black; }

.heading-titre {
  font-size: 8rem;
  font-weight: 800; }

.heading-section {
  font-size: 5.5rem;
  font-weight: 800;
  color: #2d231d; }

.heading-infos {
  font-size: 4rem;
  font-weight: 600; }

.heading-sous-titre {
  font-size: 3.2rem;
  font-weight: 600; }

.heading-menu-contenu,
.common-text,
.footer-text {
  font-size: 2.4rem;
  font-weight: 400; }

.heading-menu-select {
  font-size: 2.4rem;
  font-weight: 800; }

span {
  font-weight: 600; }

.activities-title {
  font-size: 3rem;
  font-weight: 400 !important;
  text-transform: uppercase; }

button {
  font-family: 'Afacad', serif;
  font-size: 2.4rem;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.banner {
  height: 45rem;
  overflow: hidden;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 8rem; }
  .banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .banner__image--top {
      object-position: top; }
    .banner__image--center {
      object-position: center; }
    .banner__image--bottom {
      object-position: bottom; }
    .banner__image--other-01 {
      object-position: 50% 70%; }
    .banner__image--other-02 {
      object-position: 50% 70%; }

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 2.6rem;
  background-color: rgba(206, 221, 233, 0.3);
  border-radius: 200px; }
  .btn--white {
    background-color: white !important; }
  .btn--yoga {
    font-weight: 500;
    font-family: 'Afacad', serif;
    padding: 0.9rem 1.8rem;
    font-size: 2.4rem; }

.seance {
  height: 70rem;
  border: solid 2px rgba(34, 102, 153, 0.22);
  border-radius: 1rem;
  overflow: hidden; }
  .seance__top {
    height: 50%;
    position: relative; }
    .seance__top--img {
      height: 100%;
      width: 100%;
      opacity: 0.8;
      object-fit: cover; }
    .seance__top--periode {
      position: absolute;
      top: 2.4rem;
      right: 4.5rem;
      background-color: white;
      opacity: 0.9;
      border-radius: 666px;
      padding: 1.6rem 3.4rem; }
  .seance__bottom {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    height: 50%; }
    .seance__bottom--title {
      font-family: 'Afacad', serif;
      font-size: 5rem;
      font-weight: 800;
      line-height: 1.2;
      height: fit-content; }
    .seance__bottom--subtitle {
      font-family: 'Afacad', serif;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.4;
      height: fit-content; }
    .seance__bottom--tags {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      height: fit-content; }
      .seance__bottom--tags-tag {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1;
        border: solid black 2px;
        border-radius: 1rem;
        padding: 0 1.6rem; }
    .seance__bottom__localisation-and-price {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      margin: 1rem 0rem; }
    .seance__bottom--localisation {
      display: flex;
      align-items: center;
      gap: 0.8rem; }
    .seance__bottom--tarifs {
      font-style: italic;
      font-size: 2.4rem;
      font-weight: 400; }

.localisation__logo {
  height: 100%;
  display: flex;
  align-items: center; }

.localisation__logo1 {
  display: inline-block;
  height: fit-content; }

.localisation__text {
  font-size: 2.4rem;
  font-weight: 400; }

.activites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fafcfb; }
  .activites__icon {
    height: 8rem;
    margin-bottom: 2.4rem; }
  .activites-left {
    justify-items: center;
    padding: 9rem;
    gap: 4rem; }
    .activites-left__top {
      display: block;
      text-align: center;
      margin-bottom: 4rem; }
    .activites-left__middle-text {
      text-align: center;
      margin-bottom: 4rem;
      padding: 0rem 2.3rem; }

.actualites {
  margin-top: 8rem;
  margin-bottom: 8rem; }
  .actualites__title {
    margin-bottom: 6rem; }
  .actualites__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 43rem;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem; }
  .actualites__items {
    overflow: hidden;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); }
    .actualites__items:hover {
      transform: translateY(-3px);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15); }
    .actualites__items:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
    .actualites__items--1 {
      background-color: rgba(250, 238, 224, 0.8); }
    .actualites__items--2 {
      background-color: #cedde9 !important; }
    .actualites__items--3 {
      background-color: rgba(250, 238, 224, 0.8); }

.actualite {
  position: relative; }
  .actualite__img {
    opacity: 0.8;
    height: 60%;
    width: 100%;
    object-fit: cover; }
  .actualite__tag {
    position: absolute;
    top: 1rem;
    right: 3rem;
    padding: 0rem 1.5rem;
    background-color: #faeee0;
    border-radius: 200px; }
  .actualite__title {
    padding-left: 2rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    justify-self: left; }
  .actualite__subtitle {
    font-size: 2.4rem;
    padding-left: 2rem;
    justify-self: left;
    font-weight: 400; }
  .actualite__btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    background-color: rgba(250, 238, 224, 0.8) !important;
    font-weight: 400;
    padding: 0.8rem 1.6rem; }
    .actualite__btn--2 {
      background-color: #cedde9 !important; }

.color-2 {
  background-color: #cedde9 !important; }

.articles__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 8rem; }

.articles__link, .articles__link:visited {
  position: absolute;
  top: 50%;
  right: 20rem;
  transform: translateY(-50%);
  text-decoration: none;
  display: inline-block;
  color: #2d231d;
  font-size: 2.4rem;
  transition: all 0.1s; }
  .articles__link:hover, .articles__link:visited:hover {
    transform: translateY(-53%);
    font-weight: 800; }

.articles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  padding: 0 3.5rem;
  margin-bottom: 8rem; }

.article {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fafafa;
  height: 50.5rem;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); }
  .article:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15); }
  .article:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  .article__top {
    height: 30rem; }
  .article__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%; }
  .article__top-tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;
    background-color: white;
    opacity: 0.7;
    border-radius: 666px;
    padding: 0rem 1.8rem;
    display: flex;
    gap: 1rem; }
    .article__top-tag--logo {
      display: inline-block;
      color: inherit;
      margin: auto; }
    .article__top-tag--text {
      display: inline-block;
      color: inherit;
      font-size: 2.4rem; }
  .article__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(50.5rem - 30rem);
    padding: 0.9rem 1.8rem; }
  .article__title {
    margin-top: 0; }
  .article__subtitle {
    margin-top: -1rem; }
  .article__tag-list {
    list-style: none;
    display: flex;
    justify-items: flex-start;
    flex-grow: 1;
    align-items: flex-end;
    margin-bottom: 1rem;
    gap: 1rem; }
  .article__tag--item {
    border: 2px solid black;
    padding: 0rem 1.6rem;
    border-radius: 666px;
    width: fit-content;
    height: fit-content; }

.decouvrir__container {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../../public/img/home-01.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 70rem; }

.decouvrir__etiquette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 5rem 3.5rem 5rem 4rem;
  position: absolute;
  top: 0;
  right: 4rem;
  width: 40rem;
  height: 90%;
  background: #fafafa; }
  .decouvrir__etiquette--btn {
    margin-top: 3rem;
    width: fit-content;
    align-self: center;
    font-size: 2.4rem;
    padding: 0.8rem 1.7rem;
    background-color: #fafafa;
    border: 2px black solid; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  background-color: rgba(206, 221, 233, 0.3); }
  .footer__title {
    color: #2d231d;
    margin-bottom: 2rem; }
  .footer__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 3.5rem; }
  .footer p {
    vertical-align: center;
    margin-left: 10px;
    align-self: center; }
  .footer__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 2.6rem;
    background-color: rgba(206, 221, 233, 0.3);
    border-radius: 200px; }
    .footer__btn--logo {
      display: block; }

.contact__location {
  text-align: center;
  margin-bottom: 8rem; }

.contact__phone {
  margin-bottom: 4.5rem; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 5rem 0px 5rem; }
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%; }
  .navigation__item {
    font-size: 2.4rem; }
    .navigation__item > * {
      color: inherit;
      text-decoration: none;
      transition: all 0.1s; }
    .navigation__item > *:hover {
      font-weight: 700; }

.header {
  height: calc(100vh - 15rem);
  position: relative;
  display: flex;
  flex-direction: column; }
  .header__main-title {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .header__main-subtitle {
    font-size: 3.2rem;
    color: rgba(0, 0, 0, 0.666);
    font-weight: 400; }

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10rem); }

.wave {
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0px; }

.App {
  max-width: 1440px;
  margin: auto; }

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .presentation__title {
    margin-bottom: 2.4rem; }
  .presentation__icon {
    width: 12.5rem;
    margin-bottom: 4rem; }
    .presentation__icon img {
      width: 100%; }
    .presentation__icon--line {
      margin-bottom: 1.5rem; }
    .presentation__icon--down-arrow {
      transition: all 0.3s; }
      .presentation__icon--down-arrow:hover {
        transform: translateY(3px); }
  .presentation__text {
    width: 70%;
    margin-bottom: 1.5rem;
    text-align: center; }
  .presentation__button {
    margin-top: 2rem;
    padding: 0.4rem 1.6rem;
    margin-bottom: 10rem; }

.creneaux {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .creneaux__title {
    margin-bottom: 8rem; }

.container {
  padding: 10rem 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  grid-template-rows: 70rem; }
