@charset "UTF-8";
/*
0 - 600px     : Mobile
600 - 900px   : Tablet portrait
900 - 1200px  : Tablet Landscape
1200 - 1800px : Desktop (normal style)
1800px +      : Large Desktop
*/
/* 
$breakpoints pour les différents appareils
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  padding: 0rem;
  /* n'est pas inhérited */ }

.btn {
  display: flex;
  border-radius: 50%;
  border: solid black 1px;
  border-radius: 2rem; }

.tag {
  font-size: 2.4rem;
  color: black;
  opacity: 0.8; }

body {
  font-family: 'Afacad', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black; }

.heading-titre {
  font-size: 8rem;
  font-weight: 800; }

.heading-section {
  font-size: 5.5rem;
  font-weight: 800;
  color: #2d231d; }

.heading-infos {
  font-size: 4rem;
  font-weight: 600; }

.heading-sous-titre {
  font-size: 3.2rem;
  font-weight: 600; }

.heading-menu-contenu,
.common-text,
.footer-text {
  font-size: 2.4rem;
  font-weight: 400; }

.heading-menu-select {
  font-size: 2.4rem;
  font-weight: 800; }

span {
  font-weight: 600; }

.activities-title {
  font-size: 3rem;
  font-weight: 400 !important;
  text-transform: uppercase; }

button {
  font-family: 'Afacad', serif;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 2.6rem;
  background-color: rgba(206, 221, 233, 0.3);
  border-radius: 200px; }
  .btn--white {
    background-color: white !important; }
  .btn--yoga {
    font-weight: 500;
    font-family: 'Afacad', serif;
    padding: 0.9rem 1.8rem;
    font-size: 2.4rem; }

.activites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fafcfb; }
  .activites__icon {
    height: 8rem;
    margin-bottom: 2.4rem; }
  .activites-left {
    justify-items: center;
    padding: 9rem;
    gap: 4rem; }
    .activites-left__top {
      display: block;
      text-align: center;
      margin-bottom: 4rem; }
    .activites-left__middle-text {
      text-align: center;
      margin-bottom: 4rem;
      padding: 0rem 2.3rem; }

.actualites {
  margin-top: 8rem;
  margin-bottom: 8rem; }
  .actualites__title {
    margin-bottom: 6rem; }
  .actualites__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 43rem;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem; }
  .actualites__items {
    overflow: hidden;
    border-radius: 1rem; }
    .actualites__items--1 {
      background-color: rgba(250, 238, 224, 0.8); }
    .actualites__items--2 {
      background-color: #cedde9 !important; }
    .actualites__items--3 {
      background-color: rgba(250, 238, 224, 0.8); }

.actualite {
  position: relative; }
  .actualite__img {
    opacity: 0.8;
    height: 60%;
    width: 100%;
    object-fit: cover; }
  .actualite__tag {
    position: absolute;
    top: 1rem;
    right: 3rem;
    padding: 0rem 1.5rem;
    background-color: #faeee0;
    border-radius: 200px; }
  .actualite__title {
    padding-left: 2rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    justify-self: left; }
  .actualite__subtitle {
    font-size: 2.4rem;
    padding-left: 2rem;
    justify-self: left;
    font-weight: 400; }
  .actualite__btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    background-color: rgba(250, 238, 224, 0.8) !important;
    font-weight: 400;
    padding: 0.8rem 1.6rem; }
    .actualite__btn--2 {
      background-color: #cedde9 !important; }

.color-2 {
  background-color: #cedde9 !important; }

.decouvrir__container {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../../public/img/home-01.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 70rem; }

.decouvrir__etiquette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 5rem 3.5rem 5rem 4rem;
  position: absolute;
  top: 0;
  right: 4rem;
  width: 40rem;
  height: 90%;
  background: #fafafa; }
  .decouvrir__etiquette--btn {
    margin-top: 3rem;
    width: fit-content;
    align-self: center;
    font-size: 2.4rem;
    padding: 0.8rem 1.7rem;
    background-color: #fafafa;
    border: 2px black solid; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  background-color: rgba(206, 221, 233, 0.3); }
  .footer__title {
    color: #2d231d;
    margin-bottom: 2rem; }
  .footer__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 3.5rem; }
  .footer p {
    vertical-align: center;
    margin-left: 10px;
    align-self: center; }
  .footer__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 2.6rem;
    background-color: rgba(206, 221, 233, 0.3);
    border-radius: 200px; }
    .footer__btn--logo {
      display: block; }

.contact__location {
  text-align: center;
  margin-bottom: 8rem; }

.contact__phone {
  margin-bottom: 4.5rem; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 5rem 0px 5rem; }
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%; }
  .navigation__item {
    font-size: 2.4rem; }
    .navigation__item > * {
      color: inherit;
      text-decoration: none; }
    .navigation__item > *:hover {
      font-weight: 700; }

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column; }
  .header__main-title {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .header__main-subtitle {
    font-size: 3.2rem;
    color: rgba(0, 0, 0, 0.666);
    font-weight: 400; }

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10rem); }

.wave {
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0px; }

.App {
  max-width: 1440px;
  margin: auto; }
