// COLORS
$text-color: black;

$text-primary: black;
$text-secondary: rgba(#000000, 0.6);
$text-background: rgba(#fafcfb, 1);

$meditation-text: rgba(#faeee0, 1);
$meditation-background: rgba(#faeee0, 0.3);
$meditation-background-2: rgba(#faeee0, 0.8);

$yoga-text: rgba(#cedde9, 1);
$yoga-background: rgba(#cedde9, 0.3);

$footer-title: rgba(#2d231d, 01);

// MARGIN & Padding
$margin-top-page: 5rem;
