.articles {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: relative;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  &__link,
  &__link:visited {
    position: absolute;

    top: 50%;
    right: 20rem;
    transform: translateY(-50%);

    text-decoration: none;

    display: inline-block;
    color: $footer-title;
    font-size: 2.4rem;

    transition: all 0.1s;

    &:hover {
      transform: translateY(-53%);
      font-weight: 800;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    padding: 0 3.5rem;
    margin-bottom: 8rem;
  }
}

.article {
  text-decoration: none;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-color: $random-1;
  height: 50.5rem;
  color: #000000;

  transition: all 0.2s;
  box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: 0.3);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 2rem rgba($color: #000000, $alpha: 0.15);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 0.5rem rgba($color: #000000, $alpha: 0.5);
  }

  &__top {
    height: 30rem;
  }

  &__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }

  &__top-tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;

    background-color: white;
    opacity: 0.7;
    border-radius: 666px;
    padding: 0rem 1.8rem;

    display: flex;
    gap: 1rem;

    &--logo {
      display: inline-block;
      color: inherit;
      margin: auto;
    }

    &--text {
      display: inline-block;
      color: inherit;
      font-size: 2.4rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(50.5rem - 30rem);
    padding: 0.9rem 1.8rem;
    // border: solid blue 2px;
  }

  &__title {
    margin-top: 0;
  }

  &__subtitle {
    margin-top: -1rem;
  }

  &__tag-list {
    list-style: none;
    // border: solid red 2px;
    display: flex;
    justify-items: flex-start;
    flex-grow: 1;
    align-items: flex-end;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  &__tag--item {
    border: 2px solid black;
    padding: 0rem 1.6rem;
    border-radius: 666px;
    width: fit-content;
    height: fit-content;
  }
}
